<div class="section section-six">
    <div class="container-six">
        <!--<h1>随着ECMAScript 6,HTML5,HTTP2.0的定稿.<br/>-->
        <!--浏览器支持度与移动设备的增长,前端正在巨变中</h1>-->
        <!--<br/>-->
        <h1>With ECMAScript 6, HTML5, HTTP2.0 finalized</h1>
        <br/>
        <h2>Growth browser with support for mobile devices,the front end being upheaval.</h2>
        <br/>

        <!--<h1>在探索前端的道路上我从未停止脚步</h1>-->
        <h2>Exploration on the front end of the road I never stop the pace.</h2>

        <a href="http://yhtml5.com" class="start-btn">Get Started</a>
    </div>
</div>