<nav role="navigation" class="navbar navbar-default navbar-fixed-top navbar-bg">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="./index.html" class="navbar-brand">
                <img src="logo-zhujia.png?__inline" alt="echarts logo" class="navbar-logo">
            </a>
        </div>
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right" id="menu">
                <li data-menuanchor="firstPage" id="nav-index"><a href="#firstPage">Home</a></li>
                <li data-menuanchor="secondPage"><a href="#secondPage">Introduce</a></li>
                <li data-menuanchor="3rdPage"><a href="#3rdPage">Start</a></li>
                <li data-menuanchor="firstPage" id="nav-github"><a href="###">Performance</a></li>
                <li data-menuanchor="firstPage" id="nav-2" class="0"><a href="###">Future</a></li>
            </ul>
        </div>
    </div>
</nav>