<div class="section">
    <div class="y-list-end">
        <!--<p>下一期,我们分享这些内容</p>-->
        <p class="y-fs35 y-mt30 y-ml100 y-cl284f6e y-text-center">The next theme, we share them</p>
        <ul class="y-fs20 y-line-ht2 y-mt20 y-ml100 y-left y-width550 y-height400 y-m40auto y-text-left y-pl72">
            <li>
                <!--<a href="###">前端工程——基础篇</a>-->
                <a href="###">Front-end engineering -- Basics</a>
            </li>
            <li>
                <!--<a href="###">前端工程——性能篇</a>-->
                <a href="###">Front End Engineering -- Performance articles</a>
            </li>
            <!--<li>前端工程——工具篇</li>-->
            <!--<li>前端工程——框架篇</li>-->
            <!--<li>前端工程——架构篇</li>-->
            <!--<li>前端工程——流程篇</li>-->
            <!--<li>前端工程——监控篇</li>-->
            <!--<li>前端工程——测试篇</li>-->
            <!--<li>前端工程——移动篇</li>-->
            <li>Front-end Engineering -- Tools articles</li>
            <li>Front-end engineering -- Framework papers</li>
            <li>Front-end engineering -- Architecture articles</li>
            <li>Front-end engineering -- Process articles</li>
            <li>Front-end engineering -- Monitoring articles</li>
            <li>Front-end engineering -- Test article</li>
            <li>Front-end engineering -- Mobile articles</li>
        </ul>
    </div>
</div>