<div class="section">
    <div class="container">
      <!-- 目录 -->
        <div class="slide">
            <div class="row">
                <div class="col-xs-5">
                    <h1 class="y-m-b-40">HTML基础知识讲解</h1>
                    <p>1. HTML发展历史</p><br>
                    <p>2. HTML5简介</p><br>
                    <p>3. HTML5的优势</p><br>
                    <p>4. HTML5的新特性</p><br>
                </div>
                <div class="col-xs-7">
                    <img class="img-responsive" src="h5-figure.png" alt="" style="height:280px">
                </div>
            </div>
        </div>
        <!-- 发展历史 -->
        <div class="slide">
            <div class="row">
                <div class="col-xs-4">
                    <h1 class="y-m-b-40">HTML发展历史</h1>
                    <p>1. 2007年发布的iphone拒绝支持Flash，只支持HTML5</p><br>
                    <p>2. 2011年Adobe宣布放弃Flash的移动端项目，转而开发H5工具。H5就是为了Web App而生的，H5的强势崛起将成为移动互联网未来趋势</p><br>
                </div>
                <div class="col-xs-8">
                    <img class="img-responsive" src="h5-history.png" alt="">
                </div>
            </div>
        </div>
        <!-- 简介 -->
        <div class="slide">
            <div class="row">
                <div class="col-xs-5">
                    <h1 class="y-m-b-40">HTML5简介</h1>
                    <p>HTML5(Hypertext Markup Language)是超文本标记语言（HTML）第5次重大修改。是一个新的网络标准，现在仍处于发展阶段。</p>
                    <p>HTML5 将成为 HTML、XHTML 以及 HTML DOM 的新标准。</p>
                    <p>目标是取代现有的HTML 4.01和XHTML 1.0 标准。</p>
                    <p>它希望能够减少互联网应用（RIA)对Flash、Silverlight、JavaFX等的依赖，并且提供更多能有效增强网络应用的API。</p>
                </div>
                <div class="col-xs-7">
                    <img class="img-responsive" src="h5-intro.png" alt="">
                </div>
            </div>
        </div>
        <!-- 优势 -->
        <div class="slide">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="y-m-b-40">HTML5的优势</h1>
                    <h3>1、多设备跨平台</h3><br>
                    <p>跨平台性非常强大，可以轻易的移植，这也是大多数人对HTML5有兴趣的主要原因</p><br>
                    <h3>2、自适应网页设计</h3><br>
                    <p>“一次设计，普遍适用”，让同一张网页自动适应不同大小的屏幕，根据屏幕宽度，自动调整布局（layout）。</p><br>
                    <h3>3、即时更新</h3><br>
                    <p>游戏客户端每次都要更新，很麻烦。可是更新HTML5游戏就好像更新页面一样，是马上的、即时的更新。</p><br>
                    <h3>4、多媒体</h3><br>
                    <p>可以给站点带来更多的多媒体元素(视频和音频)，且非常方便。</p><br>
                </div>
            </div>
        </div>
        <!-- 新特性 -->
        <div class="slide">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="y-m-b-40">HTML5的<a href="htmlElement.html" target="_Blank">新特性</a></h1>
                    <h3>* 新增meta属性，实现响应式布局</h3><br>
                    <p> meta name="viewport" content="width=device-width, initial-scale=1</p><br>
                    <p>1、用于绘画的 canvas 元素（用于动画，游戏，以及动态地图）</p><br>
                    <p>2、多媒体应用如： video 和 audio （减少对外部插件的需求（比如 Flash）</p><br>
                    <p>3、对本地存储、离线存储的更好的支持（如kindle，记住用户名、密码等）</p><br>
                    <p>4、新增元素，比如 article、footer、header、nav、aside、section、mark、time等</p><br>
                    <p>5、新增表单控件，比如 color、date、time、email、url、search、range等</p><br>
                    <p>6、废除的元素，比如 big center font等可以用css代替，再比如不再使用frame框架，由于框架对网页可用性存在负面影响。只可以用iFrame，用服务器方在同一个页面加载不同页面。</p><br>
                </div>
            </div>
        </div>
        <!-- 新特性图示 -->
        <div class="slide">
            <div class="row">
                <div class="col-xs-6">
                  <img class="img-responsive" src="html-layout.png" alt="">
                </div>
                <div class="col-xs-6">
                  <img class="img-responsive" src="h5-layout.png" alt="">
                </div>
            </div>
        </div>
        <!-- 新增表单属性浏览器兼容情况 -->
        <div class="slide">
            <div class="row">
                <div class="col-xs-12">
                  <img class="img-responsive" src="h5-browser.png" style="width:100%;">
                </div>

            </div>
        </div>
    </div>
</div>
